div{
    height: 480px;
    background-image: url(../../../public/images/footer-bg.jpg);
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;

    ul{
       list-style: none;
        margin: 20px;
        padding-top: 10px;

        h3{
            color: #fff;;
        }
        li{
            color: gray;
        }
    }
}
